[Unit]
Description=Run battery alert every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=battery-alert.service

[Install]
WantedBy=timers.target
